html {
	background-color: #FFD580;
}

.about-section {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.about-picture {
	float: left;
	height: 237px;
	width: 150px;
	margin-top: 0px;
	margin-right: 3px;
}
