html {
	background-color: #dcf69f;
}

.about-section {
 	position: absolute;
        top: 50%;
        left: 50%;
	width: 120vh;
        height: 80vh;	
        transform: translate(-50%, -50%)
}

.about-picture {
	float: left;
	height: 43vh;
	width: 30vh;
	margin-top: 0vh;
	margin-right: 3vh;
}
