html {
	background-color: #dcf69f;
}

.about-section {
 	position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -5%;
        transform: translate(-50%, -50%)
}

.about-picture {
	float: left;
	height: 288px;
	width: 200px;
	margin-top: 0px;
	margin-right: 15px;
}
